__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.venv/
build/
dist/
*.egg-info/
outputs/
venv/

# System files
.DS_Store
**/.DS_Store

# LaTeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdf
